.SelectedBoard {
    display: block;
}

.SelectedBoard section {
    background: transparent;
    padding: 0;
    margin: 0;
}

.SelectedBoard h2,
.SelectedBoard p {
    color: #5a4a3a;
    font-size: 1rem;
    margin: 0;
    line-height: 1.2;
}